{% extends "./base.html" %}

{% block title %} Asignatura {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4"style="margin-top:30px">
        <h2>Editar Asignatura</h2>
        <div class="card">
            <div class="card-body">
                <form action="/AsiEditar/{{asignatura.id}}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        Nombre:
                        <input type="text" id="txtNombre" name="txtNombre" value="{{asignatura.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required></br>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        <a class="btn btn-primary btn-block text-white" href="/Asi">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
        </br>
    </div>
</div>
{% endblock %}