{% extends "./base.html" %}

{% block title %} Asistencia {% endblock %}

{% block body %}
<div class="row" style="margin-top:30px">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Listado de Asistencia
                <a class="btn btn-success btnNuevo" href="AsisNuevo" >Nuevo</a>
                </h4>
                </br>
            </div>
            <div class="panel-heading">
                <form action="/AsisBuscar" method="POST">{% csrf_token %}
                <table>
                    <tr>
                        <td>Materia:
                            <input type="text" id="txtMateria" name="txtMateria"  >
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <div class="panel-body">
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>
                                <!--<th>Fila</th>-->
                                <th>Id</th>
                                <th>Materia</th>
                                <th>Horas</th>
                                <th colspan="">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for asis in asistencia  %}
                                <tr>
                                    <!--<td>{{forloop.counter}}</td>-->
                                    <td>{{asis.id}}</td>
                                    <td>{{asis.materia}}</td>
                                    <td>{{asis.horas}}</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="AsisEdicion/{{asis.id}}">Editar</a>
                                        <a class="btn btn-danger btn-sm" href="AsisEliminacion/{{asis.id}}">Borrar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}