{% extends "./base.html" %}

{% block title %} Categorias {% endblock %}

{% block body %}
<div class="row" style="margin-top:30px">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Listado de Categorias
                <a class="btn btn-success btnNuevo" href="CatNuevo" >Nuevo</a>
                </h4>
                </br>
            </div>
            <div class="panel-heading">
                <form action="/CatBuscar" method="POST">{% csrf_token %}
                <table>
                    <tr>
                        <td>Descripción:
                            <input type="text" id="txtDescripcion" name="txtDescripcion"  >
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <div class="panel-body">
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>
                                <!--<th>Fila</th>-->
                                <th>Id</th>
                                <th>Nombre</th>
                                <th colspan="">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for cat in categorias  %}
                                <tr>
                                    <!--<td>{{forloop.counter}}</td>-->
                                    <td>{{cat.id}}</td>
                                    <td>{{cat.descripcion}}</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="CatEdicion/{{cat.id}}">Editar</a>
                                        <a class="btn btn-danger btn-sm" href="CatEliminacion/{{cat.id}}">Borrar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}