{% extends "./base.html" %}

{% block title %} Nota {% endblock %}

{% block body %}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Eliminar Nota</h4>

            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea Eliminar la Nota?
                </div>
                <form action="/NotEliminar/{{nota.id}}" method="POST">{% csrf_token %}
                    <label>Materia:</label>
                    <input type="text" class="form-control" name="txtMateria" value="{{nota.materia}}" /></br>
                    <button type="submit" class="btn btn-danger btnEliminar">Eliminar</button>
                    <a class="btn btn-warning" href="/Not">Volver</a>
                </form>

            </div>
        </div>
    </div>

</div>

{% endblock %}