{% extends "./base.html" %}

{% block title %} Nota {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 "style="margin-top:30px">
        <h2>Nueva Nota</h2>
        <div class="card">
            <div class="card-body">
                <form action="NotRegistrar" method="POST">{% csrf_token %}
                    <div class="form-group">
                        Materia:
                        <input type="text" id="txtMateria" name="txtMateria" class="form-control" placeholder="Materia"
                            maxlength="50" required></br>
                    </div>
                    <div class="form-group">
                        Calificación:
                        <input type="text" id="numCalificacion" name="numCalificacion" class="form-control" placeholder="Calificación"
                            min="1" max="5" required></br>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white" >Agregar</button>
                        <a  class="btn btn-primary " id="cerrar" href="/Not">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
        </br>
    </div>
</div>
{% endblock %}