{% extends "./base.html" %}

{% block title %} Soporte {% endblock %}

{% block body %}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Eliminar Soporte</h4>

            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea Eliminar este Soporte?
                </div>
                <form action="/SopEliminar/{{soporte.id}}" method="POST">{% csrf_token %}
                    <label>Mantenimiento:</label>
                    <input type="text" class="form-control" name="txtMantenimiento" value="{{soporte.mantenimiento}}" /></br>
                    <label>Reparación:</label>
                    <input type="text" class="form-control" name="txtReparación" value="{{soporte.reparacion}}" /></br>
                    <button type="submit" class="btn btn-danger btnEliminar">Eliminar</button>
                    <a class="btn btn-warning" href="/Sop">Volver</a>
                </form>

            </div>
        </div>
    </div>

</div>

{% endblock %}