{% extends "./base.html" %}

{% block title %} Sucursal {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4"style="margin-top:30px">
        <h2>Editar Sucursal</h2>
        <div class="card">
            <div class="card-body">
                <form action="/SucEditar/{{sucursal.id}}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        Dirección:
                        <input type="text" id="txtDireccion" name="txtDireccion" value="{{sucursal.direccion}}" class="form-control" placeholder="Direccion"
                            maxlength="50" required></br>
                    </div>
                  <div class="form-group">
                        Nr_Sucursal:
                        <input type="text" id="numNr_Sucursal" name="numNr_Sucursal" value="{{sucursal.nr_sucursal}}" class="form-control" placeholder="Nr_Sucursal"
                             required></br>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        <a class="btn btn-primary btn-block text-white" href="/Suc">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
        </br>
    </div>
</div>
{% endblock %}