{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Ejercicios de Acentuación{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/acento_1.css' %}">
  <script defer src="{% static 'js/recomendador/puntuacion_final.js' %}" defer></script>
</head>
<body>
<header class="site-header">
    <h1 class="site-title">Entrenador de Acentuación</h1>
</header>
<main class="site-main">
    {% block content %}{% endblock %}
</main>
<footer class="site-footer">
    <small>&copy; 2025 – Proyecto educativo de acentuación</small>
</footer>
</body>
</html>
