<!--
    Plantilla base para todas las páginas.

    Define la estructura HTML básica y carga la hoja de estilos principal. Las
    páginas hijas deben rellenar los bloques ``title`` y ``content``.
-->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Universidad Americana{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"?v={% now 'U' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>