{% extends './login_base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="login-container">
    <div class="form-wrapper">
        <h2>Restablecer Contraseña</h2>
        {% if sent %}
            <p>Se ha enviado un código a su correo electrónico.</p>
            <a href="{% url 'reset_password' %}">Ingresar código</a>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.cedula.label_tag }}
                    {{ form.cedula }}
                    {% for error in form.cedula.errors %}
                        <small style="color:red">{{ error }}</small>
                    {% endfor %}
                </div>
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <small style="color:red">{{ error }}</small>
                    {% endfor %}
                </div>
                <input type="submit" value="Enviar código">
                {% for error in form.non_field_errors %}
                    <small style="color:red">{{ error }}</small>
                {% endfor %}
            </form>
            <small><a href="{% url 'login_docente' %}">Volver al inicio de sesión</a></small>
        {% endif %}
    </div>
</div>
{% endblock %}