{% extends './login_base.html' %}

{% block title %}Ingresar código de restablecimiento{% endblock %}

{% block content %}
<div class="login-container">
    <div class="form-wrapper">
        <h2>Ingresar Código</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.code.label_tag }}
                {{ form.code }}
                {% for error in form.code.errors %}
                    <small style="color:red">{{ error }}</small>
                {% endfor %}
            </div>
            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <small style="color:red">{{ error }}</small>
                {% endfor %}
            </div>
            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <small style="color:red">{{ error }}</small>
                {% endfor %}
            </div>
            <input type="submit" value="Restablecer contraseña">
            {% for error in form.non_field_errors %}
                <small style="color:red">{{ error }}</small>
            {% endfor %}
        </form>
        <small><a href="{% url 'login_docente' %}">Volver al inicio de sesión</a></small>
    </div>
</div>
{% endblock %}